
table {
    width: 25%;
    border: 1px double black;
    margin-bottom: 60px;

}

th,
td {
    border: 1px double black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}